.sectionContainer {
  @apply py-4 relative overflow-hidden;
  width: 100%;
  padding: 100px;
}

.aboutProject {
  color: #686767;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  ::-webkit-scrollbar-thumb {
    background-color: #FBAE25 !important;
  }
}

.container {
  @apply relative flex flex-row;
  margin-top: 120px;
}

.textContainer {
  @apply relative;
  font-size: 23px;
  text-align: justify;
  width: 100%;
}

.textContainer2 {
  @apply relative pt-4;
  font-size: 23px;
  width: 100%;
}

.imgContainer {
  @apply mx-auto;
  position: relative;
  display: block;
  width: 600px !important;
  height: 701px;
  padding: 20px;
}

