.sectionContainer {
    @apply py-4 relative overflow-hidden;
    width: 100%;
    padding: 100px;
}

.groups {
    color: #686767;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    ::-webkit-scrollbar-thumb {
        background-color: #FBAE25 !important;
    }
}

.container {
    @apply relative flex flex-row;
    margin-top: 60px;
}

.textContainer {
    @apply relative;
    font-size: 23px;
    text-align: justify;
    width: 90%;
}


.imgContainer {
    @apply mx-auto;
    position: relative;
    min-width: 800px;
    max-width: 1200px;
    height: 605px;
    padding: 20px;
}


