.scribble {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 240px;
}

.container {
    padding: 140px;
    padding-top: 140px;
    color: #FFF;
    text-align: justify;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media screen and (min-width: 1100px) {
        font-size: 25px;
    }

    @media screen and (min-width: 1300px) {
        font-size: 28px;
    }

    @media screen and (min-width: 1750px) {
        font-size: 32px;
    }
}

.actionBtn {
    @apply flex justify-center items-center;
    font-family: 'Montserrat Bold';
    color: #3764E5;
    background: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 300px;
    height: 63px;
    margin-top: 50px;
    border-radius: 90px;
}