.fiveNotesContainer {
  @apply h-full w-full mt-12;
  min-height: 700px;
}

.rowsContainer {
  @apply flex flex-col items-center;
  font-size: 10px;

  @media screen and (min-width: 1024px) {
    font-size: 14px;
  }
}
.firstRow {
  @apply flex flex-row;
}

.secondRow {
  @apply flex flex-row;
}