.nav {
  @apply w-full z-[50];
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  background: #F9F9F9;
  font-size: 22px;
}

.navItems {
  @apply w-full z-[50] pr-8;
  display: flex;
  align-items: center;
  height: 100px;
  background: #FFC800;
  font-size: 18px;
  justify-content: flex-start;

  @media screen and (min-width: 1440px) {
    font-size: 22px;
  }
}

.navbarIcon {
  width: 1920px !important;
  height: 300px;
}

.brand {
  img {
    height: 100%
  }
  @apply ml-10 pr-4;
  color: #686767;

  text-align: justify;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  justify-self: flex-end;

  @media screen and (min-width: 1440px) {
    font-size: 24px;
    margin-right: 500px;
  }
}

.toggle-container {
  display: none;
}

.links {
  list-style-type: none;
  display: flex;
  gap: 4rem;
  color: #686767;

  li {
    a {
      text-decoration: none;

    }
  }
}

.light {
  color: yellow;
}

.dark {
  color: black;
}

.moduleDropdown:hover {
  .dropdownItems {
    position: absolute;
    display: block;
  }
}

.resources:hover {
  .resourceItems {
    position: absolute;
    display: block;
  }
}

.resourceItems {
  display: none;
  position: absolute;
  z-index: 20;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: column;
  background: white;
  cursor: pointer;
}

.dropdownItems {
  display: none;
  position: absolute;
  z-index: 20;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: column;
  background: white;
  cursor: pointer;
}

.item {
  &:hover {
    color: #F8A94F !important;
  }
}

.aboutProject:hover {
  .aboutItems {
    position: absolute;
    display: block;
  }
}

.aboutItems {
  display: none;
  position: absolute;
  z-index: 20;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: column;
  background: white;
  cursor: pointer;
}