.nav {
  @apply pr-4 w-full z-[50];
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background: #F9F9F9;
  bbackdrop-filter: blur(34px);
}

.brand {
  img {
    height: 100%
  }
  @apply ml-10;
}

.toggle-container {
  display: none;
}

.links {
  list-style-type: none;
  display: flex;
  gap: 4rem;
  color: #686767;

  li {
    a {
      text-decoration: none;

    }
  }
}

.light {
  color: yellow;
}

.dark {
  color: black;
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .nav {
    position: relative;
    padding: 1rem 2rem;
  }

  .links {
    flex-direction: column;
    li {

    }
  }
}

.moduleDropdown:hover {
  .dropdownItems {
    position: absolute;
    display: block;
  }
}

.resources:hover {
  .resourceItems {
    position: absolute;
    display: block;
  }
}

.resourceItems {
  display: none;
  z-index: 20;
}

.dropdownItems {
  display: none;
  z-index: 20;
}

.item {
  &:hover {
    color: #F8A94F !important;
  }
}

.aboutProject:hover {
  .aboutItems {
    position: absolute;
    display: block;
  }
}

.aboutItems {
  display: none;
  z-index: 20;
}