.container {
  @apply pb-4;
  height: 25px;
  width: 80px;
  max-height: 25px;
  max-width: 80px;
  border-radius: 30px;
}

.container:hover {
    .language {
      display: flex;
      flex-direction: column;
    }
}

.language {
  display: none;
  position: absolute;
  z-index: 3;
  flex-direction: column;
  backdrop-filter: blur(15px);
  cursor: pointer;
  li {
    a {
      color: var(--background);
    }
  }
}

.item {
  &:hover {
    color: #F8A94F !important;
  }
}