.sectionContainer {
    @apply py-4 relative overflow-hidden;
    height: 1080px;
    width: 100%;
}

.chatGPTContainer {
    @apply flex flex-col items-center;
    padding: 40px;
}

.CGPTTitle {
    padding-bottom: 40px;
    color: #fff;
    margin-top: 1rem;
    align-self: center;
    font-size: 50px;
    font-family: "Montserrat Bold";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.CGPTContent {
    @apply flex flex-col items-center justify-center;
    padding: 1rem;
    background: #ECECEC;
    width: 80%;
    height: 650px;
}

.CGPTContentDownRight {
    @apply flex flex-col items-center justify-end;
    padding: 1rem;
    background: #ECECEC;
    width: 40%;
    height: 650px;
}

.CGPTInputWrapper {
    @apply flex w-full;
}

.CGPTInput {
    width: 100%;
    height: 40px;
    margin-right: 1rem;
    font-family: "Montserrat Bold";
    font-size: 26px;
    border: #555555;
    background: #e3e3e3;
    padding: 0 1rem;
}

.askChatGPTBtn {
    @apply flex justify-center items-center cursor-pointer;
    font-family: "Montserrat Bold";
    font-size: 26px;
    width: 120px;
    height: 40px;
    background: #2665e1;
    color: #fff;
}

.CGPTResponse {
    @apply mt-4;
    padding: 1rem;
    width: 100%;
    height: 562px;
    border: #555555;
    background: #e3e3e3;
    overflow-y: auto;
    font-family: "Montserrat Bold";
    font-size: 20px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.quotesContainer {
    background: #ECECEC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotesRow {
    display: flex;
    width: 850px;
    height: fit-content;
    justify-content: space-between;
}

.quoteMerkel {
    position: relative;
    width: 377px;
    height: 377px;
    background: #fff;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
        width: 295px;

        .person {
            @apply mb-2;
            color: #3764E5;
            text-align: center;
            font-family: "Montserrat Bold";
            font-size: 46px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }

        .quoteText {
            color: #000;
            text-align: center;
            font-family: Montserrat;
            font-size: 23px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.doubleQuoteMerkel {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 170px;
    right: 30px;
    top: -45px;

    .firstQuote {
        width: 80px;
    }

    .secondQuote {
        width: 80px;
    }
}

.quoteKenedy {
    @apply pb-4;
    background: #fff;
    width: 395.666px;
    height: 395.95px;
    position: relative;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
        width: 318px;
        position: relative;
        top: 20px;

        .person {
            @apply mb-2;
            color: #7B7977;
            text-align: center;
            font-family: "Montserrat Bold";
            font-size: 46px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }

        .quoteText {
            color: #000;
            text-align: center;
            font-family: Montserrat;
            font-size: 23px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.doubleQuoteKenedy {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    right: 30px;
    top: -45px;

    .firstQuote {
        width: 80px;
    }

    .secondQuote {
        width: 80px;
    }
}

.quoteDelore {
    background: #fff;
    width: 363px;
    height: 362px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
        @apply mt-16;
        width: 295px;

        .person {
            @apply mb-2;
            color: #F3AA1A;
            text-align: center;
            font-family: "Montserrat Bold";
            font-size: 46px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }

        .quoteText {
            color: #000;
            text-align: center;
            font-family: Montserrat;
            font-size: 23px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.doubleQuoteDelore {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 170px;
    right: 30px;
    top: -45px;

    .firstQuote {
        width: 80px;
    }

    .secondQuote {
        width: 80px;
    }
}

.quoteBerbatov {
    background: #fff;
    width: 362px;
    height: 362px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 110px;
    border-top-right-radius: 110px;

    .text {
        width: 350px;

        .person {
            @apply mb-2;
            color: #3764E5;
            text-align: center;
            font-family: "Montserrat Bold";
            font-size: 46px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }

        .quoteText {
            @apply m-auto;
            width: 318px;
            color: #000;
            text-align: center;
            font-family: Montserrat;
            font-size: 23px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.doubleQuoteBerbatov {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 170px;
    right: 30px;
    top: -45px;

    .firstQuote {
        width: 80px;
    }

    .secondQuote {
        width: 80px;
    }
}

.politicsImg {
    position: absolute;
    width: 954px;
    bottom: -477px;
    left: 1030px;
}

.bgBlue {
    background: #3764E5;
}

.bgYellow {
    background: #F3AA1A;
}

.bgGray {
    background: #ECECEC;
}

.countriesListContainer {
    padding: 40px;
}

.countriesListTitle {
    @apply relative w-fit m-auto;
    padding: 40px;
    color: #FFF;
    text-align: justify;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.countriesList {
    @apply flex w-full justify-evenly;

    @media screen and (min-width: 1400px) {
        padding-top: 40px;
    }
}

.coutriesLeftList {
    @apply h-fit;
    width: 500px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.coutriesRightList {
    @apply h-fit;
    width: 500px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sparkle {
    @apply absolute hidden;
    width: 105px;

    @media screen and (min-width: 1200px) {
        @apply block;
        right: -30px;
        top: -20px;
    }
}

.singleStickyNoteContainer {
    @apply flex justify-center items-center;
}

.singleStickyNote {
    @apply relative;
    width: 1000px;
    height: 734px;
    padding: 40px;
    padding-top: 175px;
    background: #fff;
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media screen and (min-width: 1300px) {
        width: 1275px;
    }
}

.singleStickyNoteSecond {
    @apply relative;
    width: 1000px;
    height: 734px;
    padding: 40px;
    padding-top: 175px;
    padding-right: 250px;
    background: #fff;
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media screen and (min-width: 1300px) {
        width: 1275px;
    }
}

.stickyNotePinBlue {
    position: absolute;
    top: 40px;
    left: calc(50% - 37px);
    width: 74px;
    height: 74px;
    border-radius: 90px;
    background: #91B5F8;
    filter: drop-shadow(0px 5.559401988983154px 5.559401988983154px rgba(0, 0, 0, 0.25));
}

.stickyNotePinYellow {
    position: absolute;
    top: 40px;
    left: calc(50% - 37px);
    width: 74px;
    height: 74px;
    border-radius: 90px;
    background: #FFD360;
    filter: drop-shadow(0px 5.559401988983154px 5.559401988983154px rgba(0, 0, 0, 0.25));
}

.informedWoman {
    @apply absolute;
    width: 372px;
    right: 10px;
    bottom: 0;
}

.contentsModule2Container {
    @apply flex flex-col;
    padding: 40px 100px;
    background: #F3AA1A;
}

.contentsModule2Title {
    @apply text-center;
    padding-bottom: 40px;
    color: #FFF;
    text-align: center;
    font-family: "Montserrat Bold";
    font-size: 70px;
    font-style: normal;
    line-height: normal;
}

.contentsModule2 {
    width: 1000px;
}

.citizenAwarenessContainer {
    color: #686767;
    background: #ECECEC;
}

.btnCitizenAwareness {
    color: #686767;
    font-family: "Montserrat Bold";
}

.citizenAwarenessExamplesContainer {
    @apply flex items-center justify-center flex-col h-fit min-h-[1080px];
    padding: 40px;
    background: #ECECEC;
}

.CATitle {
    @apply w-fit text-center m-auto;
    max-width: 80%;
    padding-bottom: 40px;
    color: #686767;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.CANotes {
    @apply flex flex-col items-center;
}

.CAFirstRow, .CASecondRow {
    @apply w-fit flex flex-wrap justify-evenly;
}

.stickyNoteContainerBlue, .stickyNoteContainerYellow, .stickyNoteContainerGreen {
    @apply flex flex-col items-center mb-12 mx-12 relative;
    padding: 15px;
    padding-top: 0;
    width: 360px;
    min-height: 360px;
    height: fit-content;
}

.stickyNoteContainerBlue {
    background: #CCDEFF;
    filter: drop-shadow(0px 5.559401988983154px 5.559401988983154px rgba(0, 0, 0, 0.25));
}

.stickyNoteContainerYellow {
    background: #FFED8D;
    filter: drop-shadow(0px 5.559401988983154px 5.559401988983154px rgba(0, 0, 0, 0.25));
}


.stickyNoteContainerGreen {
    background: #CBF89E;
    filter: drop-shadow(0px 5.559401988983154px 5.559401988983154px rgba(0, 0, 0, 0.25));
}

.CAStickyNotePinBlue {
    border-radius: 9999px;
    width: 40px;
    height: 40px;
    background: #91B5F8;
    filter: drop-shadow(0px 5.559401988983154px 5.559401988983154px rgba(0, 0, 0, 0.25));
}

.CAStickyNotePinYellow {
    border-radius: 9999px;
    width: 40px;
    height: 40px;
    background: #FFD360;
    filter: drop-shadow(0px 5.559401988983154px 5.559401988983154px rgba(0, 0, 0, 0.25));
}

.CAStickyNotePinGreen {
    border-radius: 9999px;
    width: 40px;
    height: 40px;
    background: #ACE772;
    filter: drop-shadow(0px 5.559401988983154px 5.559401988983154px rgba(0, 0, 0, 0.25));
}

.CAStickyNoteText {
    @apply w-full;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1.5rem;
}

.youthEngagement {
    color: #FFF;
}

.btnYouthEngagement {
    color: #3764E5;
    font-family: "Montserrat Bold";
}

.youthEngagementImg {
    @apply absolute;
    bottom: 50px;
    left: calc(50% - 435px);
    width: 870px;
}

.YEBenefitsBtn {
    color: #F3AA1A;
    font-family: "Montserrat Bold";
    font-size: 27px;
    font-style: normal;
}

.YEImage {
    position: absolute;
    width: 700px;
    bottom: 0;
    right: 0;
}

.YEImageContainer {
    @apply absolute bottom-0 right-0 w-full h-full;
}

.YEScribbleClass {
    position: absolute;
    top: 25px !important;
    left: -35px !important;
    width: 300px !important;
}

.YEBottomRightImg {
    @apply absolute;
    width: 843px;
    bottom: -150px;
    right: -150px;
}

.YEContainer {
    color: #686767;
    background: #ECECEC;
}

.YENotes {
    @apply flex flex-col items-center;
}

.YEStickyNoteText {
    @apply w-full;
    color: #000;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1.5rem;
}

.YESparkle {
    @apply absolute;
    width: 220px;
    top: -130px;
    right: -135px;
}

.mediaBottomRightImg {
    position: absolute !important;
    width: 777px;
    bottom: -200px;
    right: 20px;
}

.mediaAdviceContainer {
    @apply flex flex-col justify-center items-center;
    color: #FFF;
    text-align: justify;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.MAInner {
    @apply relative;
    width: 1440px;
    max-width: 80%;
    font-weight: 500;

    p {
        @apply mt-12;
    }
}

.MASparkle {
    @apply absolute;
    top: -25px;
    right: -80px;
    width: 120px;
    transform: rotate(10deg);
}

.impactAssessment {
    padding: 40px;

    .textContent {
        @apply mx-auto relative;
        color: #FFF;
        text-align: justify;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 1440px;
        max-width: 80%;

        p {
            @apply mb-12;
        }

        ul {
            list-style-type: disc;
        }
    }
}

.IATitle {
    @apply relative flex justify-start items-center mb-20;
    width: 500px;
    height: 250px;

    span {
        @apply absolute w-full;
        color: #FFF;
        margin-top: 1rem;
        align-self: center;
        font-size: 50px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    }
}

.IATitleCircle {
    @apply mt-6 mb-12;
}

.IAsparkle {
    @apply absolute;
    width: 240px;
    top: -130px;
    right: -155px;
}

.IAImage {
    position: absolute;
    width: 840px;
    bottom: 0;
    right: 0px;
}

.IAScribble {
    right: -175px !important;
    bottom: -95px !important;
    width: 270px;
}

.IABtnClass {
    color: #F3AA1A;
}

.IATestTitle {
    color: #fff;
}

.contentsModule3Title {
    @apply text-center;
    padding-bottom: 40px;
    color: #7B7977;
    text-align: center;
    font-family: "Montserrat Bold";
    font-size: 70px;
    font-style: normal;
    line-height: normal;
}

.contentsModule3Container {
    @apply flex flex-col;
    padding: 40px 100px;
    background: #ECECEC;
}

.TEBtn {
    color: #3764E5;
    font-family: "Montserrat Bold";
}

.TEAdviceText {
    @apply relative;
    width: 1440px;
    max-width: 80%;
    font-family: "Montserrat";
    font-weight: 500;

    p {
        @apply mt-12;
    }
}

.TEEurasmusImg {
    @apply absolute;
    width: 900px;
    bottom: 0;
    left: calc(50% - 450px);
}

.TEAdviceText2 {
    @apply relative;
    font-size: 26px;
    width: 1440px;
    max-width: 80%;
    font-family: "Montserrat";
    font-weight: 500;

    p {
        @apply mt-12;
    }

    @media screen and (min-width: 1200px) {
        font-size: 34px;
    }
}

.activeCitizensContainer {
    @apply flex flex-col justify-center items-center;
    color: #FFF;
    text-align: justify;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ACContainer {
    color: #FFF;
    text-align: justify;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ACSparkle {
    @apply absolute;
    top: -60px;
    right: -110px;
    width: 240px;
    transform: rotate(100deg);
}

.ACImg {
    @apply absolute;
    bottom: 0;
    right: 15px;
    width: 756px;
}

.activeCitizensContainer2 {
    padding-top: 105px;
}

.ACScribble {
    top: 45px !important;
    left: -10px !important;
    width: 240px;
}

.ACTextContainer {
    width: 1048px;
    max-width: 80%;
    color: #FFF;
    text-align: justify;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    z-index: 25;
    position: relative;

    p {
        @apply mb-12;
    }
}

.EUBContainer {
    color: #686767;
    text-align: justify;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: #ECECEC;
}

.EUBenefitsBtn {
    color: #686767;
    font-family: "Montserrat Bold";
    font-size: 27px;
    font-style: normal;
}

.EUBInfoContainer {
    @apply flex flex-col justify-center items-center;
    color: #686767;
    text-align: justify;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media screen and (min-width: 1200px) {
        font-size: 32px;
    }
}

.EUBSparkle {
    position: absolute;
    bottom: -140px;
    right: -175px;
    width: 300px;
    transform: rotate(10deg);
}

.EUBSparkle2 {
    position: absolute;
    bottom: -175px;
    left: -165px;
    width: 300px;
    transform: rotate(100deg);
}

.EUToolsBtn {
    color: #3764E5;
    font-family: "Montserrat Bold";
    font-size: 27px;
    font-style: normal;
}

.EUToolsContainer {
    @apply flex flex-col justify-center items-center;
    color: #fff;
    text-align: justify;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media screen and (min-width: 1200px) {
        font-size: 32px;
    }
}

.EDContainer {
    color: #FFF;
    text-align: justify;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    div:nth-of-type(1) > span {
        font-size: 40px;
    }
}

.EDInner {
    @apply relative;
    width: 1440px;
    max-width: 80%;
    font-family: Montserrat;
    font-weight: 500;

    p {
        @apply mt-12;
    }
}

.EDErasmusImg {
    @apply absolute;
    width: 900px;
    left: calc(50% - 450px);
    bottom: 0;
}

.EDInner2 {
    @apply relative;
    width: 1440px;
    max-width: 80%;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 26px;

    p {
        @apply mt-12;
    }
}

.EDInfoContainer {
    @apply flex flex-col justify-center items-center;
    color: #FFF;
    text-align: justify;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 10rem;
}

.EDSparkle {
    @apply absolute;
    top: -88px;
    left: -140px;
    width: 240px;
    transform: rotate(-95deg);
}

.EDSparkle2 {
    @apply absolute;
    top: -88px;
    right: -140px;
    width: 240px;
    transform: rotate(-10deg);
}

.ERImg {
    @apply absolute;
    width: 900px;
    bottom: 0;
    left: calc(50% - 450px);

    @media screen and (min-width: 1400px) {
        width: 1328px;
        left: calc(50% - 664px);
    }
}

.institutionsContainer {
    color: #686767;
}

.policyContainer {
    height: 100%;
    width: 100%;

    min-height: 800px;
}

.titleContainer {
    @apply flex mt-6 mx-4 justify-center;

    @media screen and (min-width: 1024px) {
        @apply ml-8;
        width: 600px;
        height: 250px;
    }
}

.titleText {
    @apply relative self-center mt-6;
    font-size: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    max-width: 450px;
}

.titleTextSmall {
    @apply absolute self-center mt-6;
    font-size: 35px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    max-width: 450px;
}

.mainTextContainer {
    @apply flex flex-col;
    margin-left: 110px;
    margin-top: 50px;
    width: 360px;

    @media screen and (min-width: 1024px) {
        @apply w-[40%];
    }
}

.mainText {
    width: 828px;
    text-align: center;
    font-size: 34px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    z-index: 10;

    @media screen and (min-width: 1024px) {
        text-align: justify;
    }
}

.bottomRightImage {
    @apply relative flex flex-row items-end justify-end;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.button {
    @apply mt-12 cursor-pointer z-20;
    width: 200px;
    max-width: 200px;
    height: fit-content;
    border-radius: 45px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 15px 0;

    color: black;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}