.sectionContainer {
    @apply py-4 relative overflow-hidden;
    height: 1080px;
    width: 100%;
}

.quotesContainer {
    background: #ECECEC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotesRow {
    display: flex;
    width: 850px;
    height: fit-content;
    justify-content: space-between;
}

.quoteMerkel {
    position: relative;
    width: 377px;
    height: 377px;
    background: #fff;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
        width: 295px;

        .person {
            @apply mb-2;
            color: #3764E5;
            text-align: center;
            font-family: "Montserrat Bold";
            font-size: 46px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }

        .quoteText {
            color: #000;
            text-align: center;
            font-family: Montserrat;
            font-size: 23px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.doubleQuoteMerkel {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 170px;
    right: 30px;
    top: -45px;

    .firstQuote {
        width: 80px;
    }

    .secondQuote {
        width: 80px;
    }
}

.quoteKenedy {
    @apply pb-4;
    background: #fff;
    width: 395.666px;
    height: 395.95px;
    position: relative;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
        width: 318px;
        position: relative;
        top: 20px;

        .person {
            @apply mb-2;
            color: #7B7977;
            text-align: center;
            font-family: "Montserrat Bold";
            font-size: 46px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }

        .quoteText {
            color: #000;
            text-align: center;
            font-family: Montserrat;
            font-size: 23px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.doubleQuoteKenedy {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    right: 30px;
    top: -45px;

    .firstQuote {
        width: 80px;
    }

    .secondQuote {
        width: 80px;
    }
}

.quoteDelore {
    background: #fff;
    width: 363px;
    height: 362px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
        @apply mt-16;
        width: 295px;

        .person {
            @apply mb-2;
            color: #F3AA1A;
            text-align: center;
            font-family: "Montserrat Bold";
            font-size: 46px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }

        .quoteText {
            color: #000;
            text-align: center;
            font-family: Montserrat;
            font-size: 23px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.doubleQuoteDelore {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 170px;
    right: 30px;
    top: -45px;

    .firstQuote {
        width: 80px;
    }

    .secondQuote {
        width: 80px;
    }
}

.quoteBerbatov {
    background: #fff;
    width: 362px;
    height: 362px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 110px;
    border-top-right-radius: 110px;

    .text {
        width: 350px;

        .person {
            @apply mb-2;
            color: #3764E5;
            text-align: center;
            font-family: "Montserrat Bold";
            font-size: 46px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }

        .quoteText {
            @apply m-auto;
            width: 318px;
            color: #000;
            text-align: center;
            font-family: Montserrat;
            font-size: 23px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.doubleQuoteBerbatov {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 170px;
    right: 30px;
    top: -45px;

    .firstQuote {
        width: 80px;
    }

    .secondQuote {
        width: 80px;
    }
}

.politicsImg {
    position: absolute;
    width: 954px;
    bottom: -477px;
    left: 1030px;
}

.bgBlue {
    background: #3764E5;
}

.countriesListContainer {
    padding: 40px;
}

.countriesListTitle {
    @apply relative w-fit m-auto;
    padding: 40px;
    color: #FFF;
    text-align: justify;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.countriesList {
    @apply flex w-full justify-evenly;

    @media screen and (min-width: 1400px) {
        padding-top: 40px;
    }
}

.coutriesLeftList {
    @apply h-fit;
    width: 500px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.coutriesRightList {
    @apply h-fit;
    width: 500px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sparkle {
    @apply absolute hidden;
    width: 105px;

    @media screen and (min-width: 1200px) {
        @apply block;
        right: -30px;
        top: -20px;
    }
}

.singleStickyNoteContainer {
    @apply flex justify-center items-center;
}

.singleStickyNote {
    @apply relative;
    width: 1000px;
    height: 734px;
    padding: 40px;
    padding-top: 175px;
    background: #fff;
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media screen and (min-width: 1300px) {
        width: 1275px;
    }
}

.singleStickyNoteSecond {
    @apply relative;
    width: 1000px;
    height: 734px;
    padding: 40px;
    padding-top: 175px;
    padding-right: 250px;
    background: #fff;
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media screen and (min-width: 1300px) {
        width: 1275px;
    }
}

.stickyNotePinBlue {
    position: absolute;
    top: 40px;
    left: calc(50% - 37px);
    width: 74px;
    height: 74px;
    border-radius: 90px;
    background: #91B5F8;
    filter: drop-shadow(0px 5.559401988983154px 5.559401988983154px rgba(0, 0, 0, 0.25));
}

.stickyNotePinYellow {
    position: absolute;
    top: 40px;
    left: calc(50% - 37px);
    width: 74px;
    height: 74px;
    border-radius: 90px;
    background: #FFD360;
    filter: drop-shadow(0px 5.559401988983154px 5.559401988983154px rgba(0, 0, 0, 0.25));
}

.informedWoman {
    @apply absolute;
    width: 372px;
    right: 10px;
    bottom: 0;
}

.contentsModule2Container {
    @apply flex flex-col;
    padding: 40px 100px;
    background: #F3AA1A;
}

.contentsModule2Title {
    @apply text-center;
    padding-bottom: 40px;
    color: #FFF;
    text-align: center;
    font-family: "Montserrat Bold";
    font-size: 70px;
    font-style: normal;
    line-height: normal;
}

.contentsModule2 {
    width: 1000px;
}

.citizenAwarenessContainer {
    color: #686767;
}

.btnCitizenAwareness {
    color: #686767;
    font-family: "Montserrat Bold";
}

.citizenAwarenessExamplesContainer {
    @apply flex items-center flex-col;
    padding: 40px;
    background: #ECECEC;
}

.CATitle {
    @apply w-fit text-center m-auto;
    max-width: 80%;
    padding-bottom: 40px;
    color: #686767;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.CANotes {
    @apply flex flex-col items-center;
}

.CAFirstRow, .CASecondRow {
    @apply w-fit flex flex-wrap justify-evenly;
}

.stickyNoteContainerBlue, .stickyNoteContainerYellow {
    @apply flex flex-col items-center mb-12 mx-12;
    padding: 15px;
    padding-top: 0;
    width: 360px;
    height: 360px;
}

.stickyNoteContainerBlue {
    background: #CCDEFF;
    filter: drop-shadow(0px 5.559401988983154px 5.559401988983154px rgba(0, 0, 0, 0.25));
}

.stickyNoteContainerYellow {
    background: #FFED8D;
    filter: drop-shadow(0px 5.559401988983154px 5.559401988983154px rgba(0, 0, 0, 0.25));
}

.CAStickyNotePinBlue {
    border-radius: 9999px;
    width: 40px;
    height: 40px;
    background: #91B5F8;
    filter: drop-shadow(0px 5.559401988983154px 5.559401988983154px rgba(0, 0, 0, 0.25));
}

.CAStickyNotePinYellow {
    border-radius: 9999px;
    width: 40px;
    height: 40px;
    background: #FFD360;
    filter: drop-shadow(0px 5.559401988983154px 5.559401988983154px rgba(0, 0, 0, 0.25));
}

.CAStickyNoteText {
    @apply w-full;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1.5rem;
}