.infoTextContainer {
  @apply flex justify-center items-center mt-4;
  height: 100%;
  width: 100%;

  @media screen and (min-width: 1024px) {
    @apply mt-12;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 800px;

  }
}