.policyContainer {
  height: 100%;
  width: 100%;
}

.titleContainer {
  @apply flex mt-6 mx-4 justify-center items-center;

  @media screen and (min-width: 1024px) {
    @apply ml-8;
    width: 1200px;
    height: 400px;
  }
}

.titleText {
  @apply absolute self-center mt-4;
  font-size: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  max-width: 700px;
}

.mainTextContainer {
  @apply flex flex-col;
  margin-left: 10%;
  margin-top: 50px;
  width: 360px;

  @media screen and (min-width: 1024px) {
    @apply w-[40%];
  }
}

.mainText {
  text-align: center;
  font-size: 36px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  min-width: 400px;

  @media screen and (min-width: 1024px) {
    text-align: justify;
  }
}

.notesContainer {
  @apply relative flex flex-row justify-center mt-8;
}

.button {
  @apply mt-6;
  max-width: 200px;
  max-height: 40px;
  border-radius: 45px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 10px 0;

  color: black;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}