.sectionContainer {
  @apply py-4 relative overflow-hidden;
  height: 1080px !important;
  margin: 1rem;
}

.scribbleSvg {
  transform: rotate(0deg) !important;
}

.quotesContainer {
  background: #ECECEC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textForVideo {
  @apply my-12;
  color: #686767;

  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 25%;
  margin-right: 25%;
}

.videoContainer {
  @apply flex justify-center items-center;
  font-weight: 500;

  p {
    @apply mt-12;
  }
}

.quotesRow {
  @apply mb-20;
  display: flex;
  width: 850px;
  height: fit-content;
  justify-content: space-between;
}

.quoteMerkel {
  position: relative;
  width: 377px;
  height: 377px;
  background: #fff;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  .text {
    width: 295px;

    .person {
      @apply mb-2;
      color: #3764E5;
      text-align: center;
      font-family: "Montserrat Bold";
      font-size: 46px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }

    .quoteText {
      color: #000;
      text-align: center;
      font-family: Montserrat;
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.doubleQuoteMerkel {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 170px;
  right: 30px;
  top: -45px;

  .firstQuote {
    width: 80px;
  }

  .secondQuote {
    width: 80px;
  }
}

.quoteKenedy {
  @apply pb-4;
  background: #fff;
  width: 395.666px;
  height: 395.95px;
  position: relative;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;

  .text {
    width: 318px;
    position: relative;
    top: 20px;

    .person {
      @apply mb-2;
      color: #7B7977;
      text-align: center;
      font-family: "Montserrat Bold";
      font-size: 46px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }

    .quoteText {
      color: #000;
      text-align: center;
      font-family: Montserrat;
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.doubleQuoteKenedy {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  right: 30px;
  top: -45px;

  .firstQuote {
    width: 80px;
  }

  .secondQuote {
    width: 80px;
  }
}

.quoteDelore {
  background: #fff;
  width: 363px;
  height: 362px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .text {
    @apply mt-16;
    width: 295px;

    .person {
      @apply mb-2;
      color: #F3AA1A;
      text-align: center;
      font-family: "Montserrat Bold";
      font-size: 46px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }

    .quoteText {
      color: #000;
      text-align: center;
      font-family: Montserrat;
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.doubleQuoteDelore {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 170px;
  right: 30px;
  top: -45px;

  .firstQuote {
    width: 80px;
  }

  .secondQuote {
    width: 80px;
  }
}

.quoteBerbatov {
  background: #fff;
  width: 362px;
  height: 362px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 110px;
  border-top-right-radius: 110px;

  .text {
    width: 350px;

    .person {
      @apply mb-2;
      color: #3764E5;
      text-align: center;
      font-family: "Montserrat Bold";
      font-size: 46px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }

    .quoteText {
      @apply m-auto;
      width: 318px;
      color: #000;
      text-align: center;
      font-family: Montserrat;
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.doubleQuoteBerbatov {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 170px;
  right: 30px;
  top: -45px;

  .firstQuote {
    width: 80px;
  }

  .secondQuote {
    width: 80px;
  }
}

.titleContainer {
  @apply flex mt-6 mx-4 justify-center mb-20 items-center w-full;

  @media screen and (min-width: 1024px) {
    @apply ml-8;
    height: 250px;
  }
}

.titleText {
  @apply absolute self-center mt-4 pb-8;
  font-size: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.bgBlue {
  background: #3764E5;
  color: white;
}

.bgRed {
  background: #FB5E60;
  color: white;
}

.redText {
  color: #FB5E60;
}

.yellowBackground {
  background: #F3AA1A;
  color: #FFF;
}

.title {
  color: #686767;
  font-family: Montserrat;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}


.mediaAdviceContainer {
  @apply flex flex-col justify-center items-center;
  color: #FFF;
  text-align: justify;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.MAInner {
  @apply relative;
  width: 1440px;
  max-width: 80%;
  font-weight: 500;

  p {
    @apply mt-12;
  }
}

.MASparkle {
  @apply absolute;
  top: -25px;
  right: -80px;
  width: 120px;
  transform: rotate(10deg);
}

.MASparkleLeft {
  @apply absolute;
  top: -30px;
  left: -80px;
  width: 120px;
  transform: rotate(-90deg);
}

.MAScribble {
  @apply absolute;
  top: -25px;
  right: -80px;
  width: 120px;
  transform: rotate(90deg);
  width: 200px;
}

.topLeftScribble {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 240px;
}

.topLeftScribble2 {
  position: absolute;
  top: 200px;
  left: 120px;
  width: 240px;
}

.topLeftScribbleDown2 {
  position: absolute;
  top: 0px;
  right: 120px;
  width: 240px;
  z-index: 20;
}

.whiteBackground {
  background: #ECECEC;
  color: #686767 !important;
}

.EUBSparkle {
  position: absolute;
  bottom: -140px;
  right: -175px;
  width: 300px;
  transform: rotate(10deg);
}

.TEAdviceText {
  @apply relative;
  width: 1440px;
  max-width: 80%;
  font-family: "Montserrat";
  font-weight: 500;

  p {
    @apply mt-12;
  }
}

.EUBInfoContainer {
  @apply flex flex-col justify-center items-center;
  color: white;
  text-align: justify;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media screen and (min-width: 1200px) {
    font-size: 32px;
  }
}

.whiteScribble {
  transform: rotate(180deg);
}

.IATitle {
  @apply relative flex justify-start items-center mb-20;
  width: 500px;
  height: 250px;

  span {
    @apply absolute w-full;
    color: #FFF;
    margin-top: 1rem;
    align-self: center;
    font-size: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }
}


.impactAssessment {
  padding: 40px;

  .textContent {
    @apply mx-auto relative;
    color: #FFF;
    text-align: justify;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 1440px;
    max-width: 80%;

    p {
      @apply mb-12;
    }

    ul {
      list-style-type: disc;
    }
  }
}

.centeredContent {
  padding: 40px;

  .textContent2 {
    @apply flex justify-center items-center h-full mx-auto relative;
    color: #FFF;
    text-align: justify;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 1440px;
    max-width: 80%;

    p {
      @apply mb-12;
    }

    ul {
      list-style-type: disc;
    }
  }
}

.IATitleCircle {
  @apply mt-6 mb-12;
}

.IAsparkle {
  @apply absolute;
  width: 240px;
  top: -130px;
  right: -155px;
}

.ERImg {
  @apply absolute;
  width: 900px;
  bottom: 0;
  left: calc(50% - 450px);

  @media screen and (min-width: 1400px) {
    width: 1328px;
    left: calc(50% - 664px);
  }
}

.grayBackground {
  background: #686767;
  color: #686767 !important;
}