.sectionContainer {
  @apply py-4 relative overflow-hidden;
  height: 1080px;
  width: 100%;
}

.greenText {
  color: #0D8149;
}

.redText {
  color: #BC3F3F;
}

.redBackground {
  background: #E64E5A;
}

.greenScribble {
  transform: rotate(20.469deg);
}

.maScribbleDownLeft {
  @apply absolute;
  bottom: -75px;
  left: -80px;
  width: 120px;
  transform: rotate(280deg);
}

.maScribbleDownBgLeft {
  @apply absolute;
  bottom: -75px;
  left: -80px;
  width: 120px;
  transform: rotate(90deg);
}

.mediaAdviceContainer {
  @apply flex flex-col justify-center items-center;
  color: #FFF;
  text-align: justify;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.MAInner {
  @apply relative;
  width: 1440px;
  max-width: 80%;
  font-weight: 500;

  p {
    @apply mt-12;
  }
}

.ERImg {
  @apply absolute;
  width: 900px;
  bottom: 0;
  left: calc(50% - 450px);

  @media screen and (min-width: 1400px) {
    width: 1328px;
    left: calc(50% - 664px);
  }
}

.quotesContainer {
  background: #ECECEC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quotesRow {
  display: flex;
  width: 850px;
  height: fit-content;
  justify-content: space-between;
}

.quoteMerkel {
  position: relative;
  width: 377px;
  height: 377px;
  background: #fff;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  .text {
    width: 295px;

    .person {
      @apply mb-2;
      color: #0D8149;
      text-align: center;
      font-family: "Montserrat Bold";
      font-size: 46px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }

    .quoteText {
      color: #7B7977;
      text-align: center;
      font-family: Montserrat;
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.doubleQuoteMerkel {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 170px;
  right: 30px;
  top: -45px;

  .firstQuote {
    width: 80px;
  }

  .secondQuote {
    width: 80px;
  }
}

.quoteKenedy {
  @apply pb-4;
  background: #fff;
  width: 395.666px;
  height: 395.95px;
  position: relative;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;

  .text {
    width: 318px;
    position: relative;
    top: 20px;

    .person {
      @apply mb-2;
      color: #7B7977;
      text-align: center;
      font-family: "Montserrat Bold";
      font-size: 46px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }

    .quoteText {
      color: #000;
      text-align: center;
      font-family: Montserrat;
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.doubleQuoteKenedy {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  right: 30px;
  top: -45px;

  .firstQuote {
    width: 80px;
  }

  .secondQuote {
    width: 80px;
  }
}

.quoteDelore {
  background: #fff;
  width: 363px;
  height: 362px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .text {
    @apply mt-16;
    width: 295px;

    .person {
      @apply mb-2;
      color: #E69317;
      text-align: center;
      font-family: "Montserrat Bold";
      font-size: 46px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }

    .quoteText {
      color: #000;
      text-align: center;
      font-family: Montserrat;
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.doubleQuoteDelore {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 170px;
  right: 30px;
  top: -45px;

  .firstQuote {
    width: 80px;
  }

  .secondQuote {
    width: 80px;
  }
}

.quoteBerbatov {
  background: #fff;
  width: 362px;
  height: 362px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 110px;
  border-top-right-radius: 110px;

  .text {
    width: 350px;

    .person {
      @apply mb-2;
      color: #FF3C4B;
      text-align: center;
      font-family: "Montserrat Bold";
      font-size: 46px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }

    .quoteText {
      @apply m-auto;
      width: 318px;
      color: #000;
      text-align: center;
      font-family: Montserrat;
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.doubleQuoteBerbatov {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 170px;
  right: 30px;
  top: -45px;

  .firstQuote {
    width: 80px;
  }

  .secondQuote {
    width: 80px;
  }
}