.moreMaterials {
  border-bottom: 1px solid;
  max-width: 600px;
  margin-top: 50px;
  padding-bottom: 50px;
  padding-left: 150px;
  color: #686767;
  font-family: Montserrat;
  font-size: 33px;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
}

.columnContainers {
  @apply flex flex-row w-full justify-center
}

.firstCol {
  @apply flex flex-col ml-20;
  color: #686767;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 450px;
  min-width: 200px;

  @media screen and (min-width: 1440px) {
    max-width: 400px;
    min-width: 400px;
  }
}

.secondCol {
  @apply flex flex-col pl-20;
  color: #686767;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 250px;
  min-width: 250px;

  @media screen and (min-width: 1440px) {
    max-width: 400px;
    min-width: 400px;
  }
}

.number {
  @apply pr-10;
  color: #FBAE25;
  text-align: justify;
  font-family: Montserrat;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container {
  @apply justify-center flex flex-row items-center;
  max-width: 370px;
  border-bottom: 1px solid;
  min-height: 220px;
  max-height: 220px;
}

.text {
  width: 200px;
}

.sectionContainer {
  @apply py-4 relative overflow-hidden;
  width: 100%;
}

.textContainer {
  font-size: 23px;
  margin-left: 10%;
  max-width: 80%;
  margin-top: 50px;
  margin-bottom: 0px;
  scrollbar-color: auto;
}
