.container {
  @apply py-4 relative overflow-hidden;
  margin: 1rem;
  height: 1080px;
  background: #00AF70;
}

.glassContainer {
  @apply flex justify-end w-full;
}

.magnifyingGlass {
  @apply absolute;
  transform: scaleX(-1);
}

.title {

  font-size: 24px;
  color: #FFF;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media screen and (min-width: 1024px) {
    font-size: 75px;

  }
}

.textContainer {
  @apply flex flex-col w-full pb-8;
  padding-left: 15%;
  padding-right: 30%;
}

.scribble {
  @apply absolute hidden;
  margin-top: -150px;
  left: 75%;

  @media screen and (min-width: 1440px) {
    visibility: visible;
  }
}

.text {
  @apply pt-6;
  color: #FFF;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}